//Шрифты
$fontFamily: "Gilroy";
$fontSize: 16;

//Переменные
$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1270;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #3A3A3A;
$orangeColor: #E89F71;
$orangeColorLight: #f8c6a1;
$grayColor: #898989;
$darkGrayColor: #616161;
